# ENV file for the backend. You can copy this file to .env and fill in the values.

# Database configuration
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=pipou_db
DB_USER=pipou
DB_PASSWORD=PASSWORD
PORT=3001
FRONTEND_URL=http://localhost:3000
SECRET=change_me_in_production

# S3 MinIO en local (Cellar en prod)
S3_ENDPOINT=http://127.0.0.1:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=PASSWORD
S3_BUCKET=pipou-resources