# ENV file for the frontend. Copy this file to .env and uncomment the line matching your setup.

# --- Full local (tout en Docker) ---
# VITE_API_URL=http://localhost:3001/api

# --- Front local + Back sur Clever Cloud ---
VITE_API_URL=https://app-2cab94c0-057d-4038-8bc1-dbab0a8942a6.cleverapps.io/api
